 <div class="booking"> 
        <div class="top-panel">
            <div class="order">Замовлення</div>
            <span class="count">0</span>
            <span class="clean-order">Очистити замовлення</span>
        </div>
        <div class="main-panel">
           <div class="start-label">
                Порожньо в холодильнику?
                <br> Замовте піцу!
            </div>
            <div id="cart"></div>
            <div class="empty"></div>
        </div>
        <footer class="bottom-panel">
            <div class="order-sum">
                <div class="sum-text" style="display:none">
                    Сума замовлення
                </div>
                <div class="count-sum" style="display:none"></div>
            </div>
            <a href="order.html" type="button" class="btn btn-warning bt-lg order" disabled="disabled">
              Замовити
            </a> 
        </footer>
        
    </div>