<% include common/header.ejs %>
<% include common/cart.ejs %>

<div class="container-fluid">    
    <div class="all-pizzas">
         <div>
            <span class="all">Усі піци</span>
            <span class="count-all-pizza"></span>
        </div>
        <ul id ="filter" class="nav nav-pills">
            <li role="presentation" class="pizza-filter" id="all-pizza">   
                <a href="#"> Усі </a>
            </li>
            <li role="presentation" class="pizza-filter" id="meat">
                <a href="#">М'ясні</a>
            </li>
            <li role="presentation" class="pizza-filter" id="pineapple">
                <a href="#">З ананасами</a>
            </li>
            <li role="presentation" class="pizza-filter" id="mushroom">
                <a href="#">З грибами</a>
            </li>
            <li role="presentation" class="pizza-filter" id="ocean">
                <a href="#">З морепродуктами</a>
            </li>
            <li role="presentation" class="pizza-filter" id="withotmeat">
                <a href="#">Вега</a>
            </li>
        </ul>
    </div>
    <div class="row" id="pizza_list"></div>
</div>
<% include common/footer.ejs %>